body {
    background-color: black;
    color: white;
}

.service {
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}

.link {
    display: flex;
    justify-content: center;
    position: relative;
    top: 300px;
    color: white;
}